{
  "singleQuote": true,
  "tabWidth": 4,
  "importOrder": [
    "^@(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", "*.json"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}